<span class="text-center">
  <h2><%= t(:home) %></h2>

  <% if signed_in? %>
    <p>
      <%= link_to t(:upload_purchases_file), new_upload_path %>
    </p>
  <% end %>

  <p>
    <%= t(:welcome_text) %>
  </p>
</span>