<%= form_with url: upload_path , multipart: true do |f| %>
  <h5 class="link-primary m-5">
    <%= f.label :file, t(:select_file), class: 'custom-link' %>
  </h5>
  <span>
    <div >
      <%= f.file_field :file %>
    </div>
    <div class="mt-5">
        <%= f.submit data:  { disable_with: '...' } %>
    </div>
  </span>
<% end %>
