<h2>Total do upload: <%= @upload_result[:file_gross_income] %></h2>
<h2>Total de todos os uploads: <%= @upload_result[:total_gross_income] %></h2>
<%= link_to 'upload another file', new_upload_path %>